[tool.poetry]
name = "nmdc_submission_schema"
version = "0.0.0"
description = "The NMDC submission schema"
authors = ["Mark Andrew Miller <mam@lbl.gov>"]
license = "MIT"
readme = "README.md"
packages = [
    { include = "nmdc_submission_schema", from = "src" },
    { include = "tools"}
]
include = [
    # These files are copied from the top-level project folder at build time. Without
    # the copy step they end up in a weird location when installed via wheel.
    # See: https://github.com/python-poetry/poetry/issues/7153
    { path = "src/nmdc_submission_schema/project/**/*", format = ["sdist", "wheel"] }
]
exclude = [
    "tools"
]

[tool.poetry.dependencies]
python = "^3.10"
linkml-runtime = "^1.6.2"
rdflib = "^6.2.0"

[tool.poetry.group.dev.dependencies]
click = "^8.1.0"
db-dtypes = "^1.3.1"
duckdb = "^1.1.3"
duckdb-engine = "^0.13.6"
google-cloud-bigquery = "^3.27.0"
jupyter = "^1.1.1"
jupyter-datatables = "^0.3.9"
linkml = "^1.9.4"
matplotlib = "^3.9.2"
mkdocs-material = "^9.1.2"
mkdocs-mermaid2-plugin = "^1.1.0"
nmdc-schema = "11.14.0"
oaklib = "^0.6.1" # was using 0.5.6 up to 2024-12-10
pydantic = "^2.11.7"
pytest = "^8.3.4"
pyyaml = "^6.0.2"
requests = "^2.32.5"
rich = "^14.1.0"
scikit-learn = "^1.5.2"
textdistance = "^4.6.3"

[tool.poetry-dynamic-versioning]
# We need poetry-dynamic-versioning to update the version in the src schema file,
# then generate project artifacts from that schema with the real version populated,
# and then perform any build or publish actions. Since this requires running
# `poetry dynamic-versioning` manually before `poetry build`, we set enable = false.
# similar dynamic versioning doesn't seem to be working for nmdc-schema right now
enable = false
vcs = "git"
style = "pep440"

[tool.poetry-dynamic-versioning.substitution]
files = [
    "*.py",
    "src/**/__init__.py",
    "src/**/__version__.py",
    "src/**/_version.py",
    "src/nmdc_submission_schema/schema/nmdc_submission_schema.yaml"
]
patterns = [
    "(^\\s*__version__\\s*(?::.*?)?=\\s*['\\\"])[^'\\\"]*(['\\\"])",
    "(^version:\\s*['\\\"]?)[^'\\\"]*?(['\\\"]?)$"
]


[build-system]
requires = ["poetry-core>=1.0.0", "poetry-dynamic-versioning"]
build-backend = "poetry_dynamic_versioning.backend"

[tool.poetry.extras]
docs = ["linkml", "mkdocs-material"]
